body {
  box-sizing: border-box;
  margin: 0;
  max-height: 100vh;
  background-color: #fee62d;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.title__card {
  font-size: 18px;
  display: inline-block;
  width: 160px;
  text-transform: capitalize;
  padding: 5px;
  margin: 0px;
}

.container__list {
  border: 1px solid grey;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
}

.input__search {
  width: 500px;
  margin-left: 30%;
  margin-top: 20px;
  height: 20px;
  text-align: center;
}

.image__pokemon {
  max-height: 100px;
  max-width: 100px;
}

.container__name-and-powers {
  background-color: white;
  width: 180px;
  padding: 10px;
}

.container__powers-list {
  list-style-type: none;
  display: flex;
  align-self: flex-start;
  padding: 0px;
  align-items: baseline;
}

.id__pokemon {
  margin: 0px;
  font-size: 12px;
  align-self: flex-start;
  background-color: rgb(216, 204, 204);
  padding: 6px;
}

.container__powers-list>li {
  background-color: white;
  padding: 5px;
  border-radius: 10%;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid grey;
  margin-right: 5px;
}